:root {
  --background-color:#242424;
  --box-color:#474646;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;  
}

.form-contact {
  background: var(--box-title-color);
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
}

header {
  width: 100%;
  padding: 0.2rem;
  background: #9f9f9f;
  overflow: hidden;
  color: white;
}

header span {
  font-size: 100px;
  display: block;
  text-align: center;
  padding: 2.5rem;
}

.form-employee {
  display: grid;
  padding: .8rem;
  overflow: hidden;
  color: gray;
}

.form-employee label, .form-employee input, .form-employee textarea {
  display: block;
  width: 100%;
  margin-bottom: 4px;   
  padding: 0 2px;
}

.form-employee label {
  font-weight: 700;
}

.form-employee input:not([type='submit']), .form-employee textarea {
  border: none;
  border-bottom: 2px solid #a49fa1;
  margin-bottom: 10px;
  font-size: 1.2rem;
  outline: none;
  color: gray;
}

.form-employee textarea {
  min-height: 100px;
}

/* input[type='submit'] {
  padding: 10px;
  background: rgb(179, 219, 174);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;

} */

.send-button {
  width: 3rem;
}


/* CSS button */
.send-button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 0.6rem 1.2rem;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.send-button:focus {
  text-decoration: none;
}

.send-button:hover {
  text-decoration: none;
}

.send-button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.send-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .send-button {
    padding: 0.8rem 1.5rem;
  }
}